In [77]:
import pandas as pd

In [78]:
df = pd.read_csv("D:/RAMANASOFT/IMDB Dataset.csv")

In [79]:
df

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
1994  One of the worst movies ever made... If you ca...  negative
1995  Feeling Minnesota, directed by Steven Baigelma...  negative
1996  THE CELL (2000) Rating: 8/10<br /><br />The Ce...  positive
1997  This movie, despite its list of B, C, and D li...  negative
1998  I loved this movie! It was all I could do not ...  positive

[1999 rows x 2 columns]

# Lower Casing

In [28]:
df['review'] = df['review'].str.lower()

In [29]:
df

                                                 review sentiment
0     one of the other reviewers has mentioned that ...  positive
1     a wonderful little production. <br /><br />the...  positive
2     i thought this was a wonderful way to spend ti...  positive
3     basically there's a family where a little boy ...  negative
4     petter mattei's "love in the time of money" is...  positive
...                                                 ...       ...
1994  one of the worst movies ever made... if you ca...  negative
1995  feeling minnesota, directed by steven baigelma...  negative
1996  the cell (2000) rating: 8/10<br /><br />the ce...  positive
1997  this movie, despite its list of b, c, and d li...  negative
1998  i loved this movie! it was all i could do not ...  positive

[1999 rows x 2 columns]

# Remove HTML Tags

In [30]:
import re  #Regular Expressions
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [31]:
df['review'] = df['review'].apply(remove_html_tags)

In [32]:
df

                                                 review sentiment
0     one of the other reviewers has mentioned that ...  positive
1     a wonderful little production. the filming tec...  positive
2     i thought this was a wonderful way to spend ti...  positive
3     basically there's a family where a little boy ...  negative
4     petter mattei's "love in the time of money" is...  positive
...                                                 ...       ...
1994  one of the worst movies ever made... if you ca...  negative
1995  feeling minnesota, directed by steven baigelma...  negative
1996  the cell (2000) rating: 8/10the cell, like ant...  positive
1997  this movie, despite its list of b, c, and d li...  negative
1998  i loved this movie! it was all i could do not ...  positive

[1999 rows x 2 columns]

# Remove URLs

In [33]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www.\.\S+')
    return pattern.sub(r'', text)

In [34]:
df['review'] = df['review'].apply(remove_url)

In [35]:
df

                                                 review sentiment
0     one of the other reviewers has mentioned that ...  positive
1     a wonderful little production. the filming tec...  positive
2     i thought this was a wonderful way to spend ti...  positive
3     basically there's a family where a little boy ...  negative
4     petter mattei's "love in the time of money" is...  positive
...                                                 ...       ...
1994  one of the worst movies ever made... if you ca...  negative
1995  feeling minnesota, directed by steven baigelma...  negative
1996  the cell (2000) rating: 8/10the cell, like ant...  positive
1997  this movie, despite its list of b, c, and d li...  negative
1998  i loved this movie! it was all i could do not ...  positive

[1999 rows x 2 columns]

# Remove Punctuaton

In [36]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [37]:
exclude = string.punctuation

In [38]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [39]:
df['review'] = df['review'].apply(remove_punc1)

In [40]:
df

                                                 review sentiment
0     one of the other reviewers has mentioned that ...  positive
1     a wonderful little production the filming tech...  positive
2     i thought this was a wonderful way to spend ti...  positive
3     basically theres a family where a little boy j...  negative
4     petter matteis love in the time of money is a ...  positive
...                                                 ...       ...
1994  one of the worst movies ever made if you can g...  negative
1995  feeling minnesota directed by steven baigelman...  negative
1996  the cell 2000 rating 810the cell like antz mus...  positive
1997  this movie despite its list of b c and d list ...  negative
1998  i loved this movie it was all i could do not t...  positive

[1999 rows x 2 columns]

# Removing Stop Words

In [41]:
from nltk.corpus import stopwords

In [42]:
stopwords.words('english')

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [43]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [44]:
df['review'] = df['review'].apply(remove_stopwords)

In [45]:
df

                                                 review sentiment
0     one    reviewers  mentioned   watching  1 oz e...  positive
1      wonderful little production  filming techniqu...  positive
2      thought    wonderful way  spend time    hot s...  positive
3     basically theres  family   little boy jake thi...  negative
4     petter matteis love   time  money   visually s...  positive
...                                                 ...       ...
1994  one   worst movies ever made    get   movies w...  negative
1995  feeling minnesota directed  steven baigelmann ...  negative
1996   cell 2000 rating 810the cell like antz must  ...  positive
1997   movie despite  list  b c   list celebs   comp...  negative
1998   loved  movie     could    break   tears  watc...  positive

[1999 rows x 2 columns]

# Handling Emojis

- If we have emojis in the text, we have two options:
  - Removing Emojis. (OR)
  - Replacing emojis in the form of text.

In [46]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                               "u\U0001F600-\U0001F64F"  # Emotions
                               "u\U0001F300-\U0001F5FF"  # Symbols & pictographs
                               "u\U0001F680-\U0001F6FF"  # Transport & map symbols
                               "u\U0001F1E0-\U0001F1FF"  # Flags(iOS)
                               "u\U00002702-\U000027B0"
                               "u\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [47]:
remove_emoji("Loved the movie, it was 👍")

'Loved the movie, it was '

In [50]:
import emoji
print(emoji.demojize('Python is 🔥'))

Python is :fire:

# Tokenization

### 1. Using the split function

In [51]:
# Word Tokenization
a = 'I am going to delhi'
a.split()

['I', 'am', 'going', 'to', 'delhi']

In [52]:
# Sentence Tokenization
b = 'Iam going to delhi. I will stay there for 3 days. Let\'s hope the trip to be great'
b.split('.')

['Iam going to delhi',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great"]

In [53]:
# Problem with split function
c = 'I am going to delhi'
c.split()

['I', 'am', 'going', 'to', 'delhi']

In [54]:
d = 'Where do think I should go? I have 3 day holiday'
d.split('.')

['Where do think I should go? I have 3 day holiday']

### 2. Regular Expression

In [55]:
import re

e = 'I am going to delhi'
tokens = re.findall("[\w']+", e)
tokens

<>:4: SyntaxWarning: invalid escape sequence '\w'
<>:4: SyntaxWarning: invalid escape sequence '\w'
C:\Users\emman\AppData\Local\Temp\ipykernel_25096\2949696684.py:4: SyntaxWarning: invalid escape sequence '\w'
  tokens = re.findall("[\w']+", e)

['I', 'am', 'going', 'to', 'delhi']

In [56]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""
sentences = re.compile('[.!?] ').split(text)
sentences

["Lorem Ipsum is simply dummy text of the printing and typesetting industry?\nLorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

### 3. NLTK

In [57]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [58]:
sent1 = 'I am goind to visit delhi!'
word_tokenize(sent1)

['I', 'am', 'goind', 'to', 'visit', 'delhi', '!']

In [59]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""

sent_tokenize(text)

['Lorem Ipsum is simply dummy text of the printing and typesetting industry?',
 "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

In [60]:
sent5 = 'I have a Ph.D in A.I'
sent6 = "We're  here to help! mail us at gks@gmail.com"
sent7 = 'A 5km ride cost $10.50'

In [61]:
word_tokenize(sent5)

['I', 'have', 'a', 'Ph.D', 'in', 'A.I']

In [62]:
word_tokenize(sent6)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'gks',
 '@',
 'gmail.com']

In [63]:
word_tokenize(sent7)

['A', '5km', 'ride', 'cost', '$', '10.50']

# Stemming

In [64]:
from nltk.stem.porter import PorterStemmer

In [65]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [66]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [67]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years.

In [68]:
stem_words(text)

'probabl my all time favourit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen some 15 or more time in the last 25 years.'

- Here after doing stemming the words like probably, movie, sacrifice etc are converted to probabl, movi, sacrific
- To solve this issue we will do Lemmetization.
- Work of both Stemming and Lemmetization are same.
- The difference is, Lemmetization is slow compared to Stemming

# Lemmatizer

In [69]:
import nltk
from nltk.stem import WordNetLemmatizer

In [70]:
# Download the WordNet corpus
nltk.download('wordnet')

# You might also need to download the 'omw-1.4' package for wordnet
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\emman\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\emman\AppData\Roaming\nltk_data...

True

In [71]:
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "He aws running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
punctuations = "?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in punctuations:
        sentence_words.remove(word)
    
sentence_words
print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word,pos='v')))

Word                Lemma
He                  He
aws                 aws
running             run
and                 and
eating              eat
at                  at
same                same
time                time
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim
after               after
playing             play
long                long
hours               hours
in                  in
the                 the
Sun                 Sun

In [85]:
from sklearn.feature_extraction.text import  CountVectorizer

In [86]:
no_features = 1000
c_vectorizer = CountVectorizer(max_df=3, min_df=1, max_features=no_features, stop_words='english')
cv = c_vectorizer.fit_transform(df.review)

In [90]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# Sample data
corpus = ["this is a sample", "this is another example"]

# Initialize and fit the vectorizer
cv = TfidfVectorizer()
X = cv.fit_transform(corpus)

# Convert to DataFrame
tf_df = pd.DataFrame(X.toarray(), columns=cv.get_feature_names_out())

In [92]:
tf_df

    another   example        is    sample      this
0  0.000000  0.000000  0.501549  0.704909  0.501549
1  0.576152  0.576152  0.409937  0.000000  0.409937

In [93]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [94]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english',max_features=no_features)
tfidf_matrix = tfidf_vectorizer.fit_transform(df.review)

In [95]:
dense = pd.DataFrame(tfidf_matrix.todense(), columns=tfidf_vectorizer.get_feature_names_out())

In [96]:
dense

,10,100,15,20,30,80,ability,able,absolutely,accent,...,wrong,wrote,yeah,year,years,yes,york,young,zombie,zombies
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.115533,0.0,0.00000,0.129849,0.000000,0.0
3,0.092611,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.000000,0.334463,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.13202,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0
1995,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0
1996,0.104965,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0
1997,0.000000,0.0,0.0,0.0,0.0,0.0,0.174655,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.205514,0.0,0.00000,0.000000,0.000000,0.0
1998,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0

# IMDB reviews count vectorizer sentiment analysis

In [97]:
import pandas as pd
import numpy as np
import os
import re
import random
import pandas as pd

In [99]:
df = pd.read_csv("D:/RAMANASOFT/IMDB Dataset.csv",nrows=1000)

In [100]:
df

                                                review sentiment
0    One of the other reviewers has mentioned that ...  positive
1    A wonderful little production. <br /><br />The...  positive
2    I thought this was a wonderful way to spend ti...  positive
3    Basically there's a family where a little boy ...  negative
4    Petter Mattei's "Love in the Time of Money" is...  positive
..                                                 ...       ...
995  Nothing is sacred. Just ask Ernie Fosselius. T...  positive
996  I hated it. I hate self-aware pretentious inan...  negative
997  I usually try to be professional and construct...  negative
998  If you like me is going to see this in a film ...  negative
999  This is like a zoology textbook, given that it...  negative

[1000 rows x 2 columns]

In [101]:
df.columns

Index(['review', 'sentiment'], dtype='object')

In [102]:
df['review'] = df['review'].str.lower()

In [103]:
import re  #Regular Expressions
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [104]:
df['review'] = df['review'].apply(remove_html_tags)

In [105]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www.\.\S+')
    return pattern.sub(r'', text)

In [106]:
df['review'] = df['review'].apply(remove_url)

In [107]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [108]:
exclude = string.punctuation

In [109]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [110]:
df['review'] = df['review'].apply(remove_punc1)

In [111]:
df["words"]="default value"
df["sentences"]="default value"


for i in range(df.shape[0]):
    df.at[i,"words"]= list("")
    df.at[i,"sentences"] = list("")

In [112]:
from nltk.tokenize import sent_tokenize

In [113]:
for i in range(df.shape[0]):
    l1= sent_tokenize(str(df.loc[i,"review"]))
    df.at[i,"sentences"]=l1

In [115]:
#!pip install pywsd

In [116]:
import nltk
nltk.download('averaged_perceptron_tagger_eng')

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\emman\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

True

In [117]:
from pywsd.utils import lemmatize_sentence

Warming up PyWSD (takes ~10 secs)... took 3.685410976409912 secs.

In [118]:
for k in range(df.shape[0]):
    df.at[k,"words"]=list("")
    for j in range(len(df.loc[k,"sentences"])):
        df.at[k,"words"].extend(lemmatize_sentence(df.loc[k,"sentences"][j]))

In [119]:
df["words_sentences"] = "default"

In [120]:
import functools
for k in range(df.shape[0]):
    df.loc[k,"words_sentences"]=functools.reduce(lambda a,b:( str(a)+str(" ")+str(b)),df.loc[k,"words"])

In [121]:
from sklearn.feature_extraction.text import  CountVectorizer

In [123]:
df1=df

no_features = 1000
tf_vectorizer = CountVectorizer( max_features=no_features, stop_words='english')
tf = tf_vectorizer.fit_transform(df1.words_sentences)

In [124]:
df_x=pd.DataFrame(tf.A, columns=tf_vectorizer.get_feature_names_out())

In [125]:
df_x.head()

,10,100,12,20,30,60,70,80,90,ability,...,yeah,year,yes,york,youd,youll,young,youre,youve,zombie
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [126]:
df_x.shape

(1000, 1000)

In [127]:
df_y=df["sentiment"]

In [128]:

from sklearn.preprocessing import LabelEncoder

In [129]:

le=LabelEncoder()

In [130]:
df_y_1=pd.DataFrame(df_y)

In [131]:
df_y_enc=df_y_1.apply(le.fit_transform)

In [132]:
df_y_enc.columns

Index(['sentiment'], dtype='object')

In [133]:
df_y_enc.head(5)

   sentiment
0          1
1          1
2          1
3          0
4          1

In [134]:
from sklearn.ensemble import GradientBoostingClassifier

In [135]:
GBC=GradientBoostingClassifier(n_estimators=3000)

In [136]:
gb_c=GBC.fit(df_x,df_y_enc)

D:\ju\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [137]:
GBC.score(df_x,df_y_enc)

1.0

In [138]:
#SVM, Logistic Regression, ADABOOSTclassifier, naivebayes, other


# IMDB reviews tfidf vectorizer sentiment analysis

In [139]:
df["words"]="default value"
df["sentences"]="default value"


for i in range(df.shape[0]):
    df.at[i,"words"]= list("")
    df.at[i,"sentences"] = list("")

In [140]:
from nltk.tokenize import sent_tokenize

In [141]:
for i in range(df.shape[0]):
    l1= sent_tokenize(str(df.loc[i,"review"]))
    df.at[i,"sentences"]=l1

In [142]:
import nltk
nltk.download('averaged_perceptron_tagger_eng')

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\emman\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

True

In [143]:
from pywsd.utils import lemmatize_sentence

In [144]:
for k in range(df.shape[0]):
    df.at[k,"words"]=list("")
    for j in range(len(df.loc[k,"sentences"])):
        df.at[k,"words"].extend(lemmatize_sentence(df.loc[k,"sentences"][j]))

In [145]:
df["words_sentences"] = "default"

In [146]:
import functools
for k in range(df.shape[0]):
    df.loc[k,"words_sentences"]=functools.reduce(lambda a,b:( str(a)+str(" ")+str(b)),df.loc[k,"words"])

In [147]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [148]:
df1=df
no_features = 1000
tfidf_vectorizer = TfidfVectorizer(max_features=no_features,stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(df.review)

In [149]:
df_x=pd.DataFrame(tfidf_matrix.todense(), columns=tfidf_vectorizer.get_feature_names_out())

In [150]:
df_y=df["sentiment"]

In [151]:

from sklearn.preprocessing import LabelEncoder

In [152]:

le=LabelEncoder()

In [153]:
df_y_1=pd.DataFrame(df_y)

In [154]:
df_y_enc=df_y_1.apply(le.fit_transform)

In [155]:
df_y_enc.columns

Index(['sentiment'], dtype='object')

In [156]:
df_y_enc.head(5)

   sentiment
0          1
1          1
2          1
3          0
4          1

In [157]:
from sklearn.ensemble import GradientBoostingClassifier

In [158]:
GBC=GradientBoostingClassifier(n_estimators=300)

In [159]:
gb_c=GBC.fit(df_x,df_y_enc)

D:\ju\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [160]:
GBC.score(df_x,df_y_enc)

1.0